*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    color: inherit;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: verdana;
}

.scroll-to-top{
    position: fixed;
    bottom: 0rem;
    right: 5rem;
    color: white;
    background: #252424;
    box-shadow: 0 0 1em rgb(0 0 0 .5);
    border: 1px solid auto;
    padding: 5px;
    }
    
.scroll-to-top a{
    text-decoration: none;
}   
    
    
.header{
    background: #252424;
}

nav{
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    padding: 12px 6%;/* top , from left */ 
    justify-content: space-between;/* makes space between the image and navigation*/
    align-items: center;    
}

.logo{
    width: 50px;
    
}

.nav-links{
    flex: 1;
    text-align: right;
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;

}

.nav-links ul a li{
    color: #fff;
    text-decoration: none;
}
@media (max-width:700px){
    .header{
       display: block; 
    }
    .scroll-to-top{
        bottom: 0rem;
        right: 0rem;
        font-size: 10px;
     }
    
}

.col-1{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 75px;
    text-align: center;
}

.col-2 img{
    width: 300px;
    display: block;
    margin: auto;
    margin-top:50px;
    margin-bottom: 10px;
    color: #252424;
}

@media (max-width:700px){
    .container{
        display: block;

    }
    
}

.custom-shape-divider-bottom-1645289361 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645289361 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1645289361 .shape-fill {
    fill: #252424;
}
@media (max-width:700px){
    .custom-shape-divider-bottom-1645289361{
        display: none;
    }
}


/*MY PROJECTS*/

article{
    background: #252424;
    padding-bottom: 100px;
}

.row-1b h1{
    padding-top: 100px;
    color: white;
    font-size: 50px;
    text-align: center;
    padding-bottom: 5px;    
}

.row-1b p{
    color: white;
    text-align: center;
    padding-bottom: 20px; 
}

.row-2b iframe{
    display: block;
    margin: auto;
    margin-bottom: 5px;
    background: white;
}
.code-spn{
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px;
    color: white;
    text-align: center;
}

.code-spn a{
    text-decoration: none;
}

@media (max-width:700px){
    .row-1b h1{
        font-size: px;
    }
    iframe{
        height: 300px;
        width: 400px;
    }
}

/* ABOUT ME*/

.abt-me {
    display: flex;
    justify-content: space-evenly;
}

.abt-me{
    margin: 0px 50px 5px 50px;
}

.abt-me1{
    margin: 50px 0 0 0;
    text-align: center;
}

.abt-me1 img{
    width: 300px;
}

.abt-me3{
    margin: 150px 0 0 50px;
}

.abt-me3 p{
    margin-bottom: 10px;
}

.abt-me3 button a{
    text-decoration: none;
    
}
.abt-me3 button{
    border: 1px solid #f44336;
    background: transparent;
    color: lightcoral;
    padding: 5px;
}
.dl-btn:hover{
    color: #fff;
    background: lightcoral;
}
.ctc-mail{
    margin: 10px;
}


@media (max-width:700px){
    .abt-me{
    display: block;
    }
    .abt-me3{
    margin: auto;
    }
    .abt-me3 .dl-btn{
        margin: auto;
    }
}



/*--CONTACT US--*/

.contact-us{
    width: 80%;
    margin: 100px auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fas{
    color: lightcoral;
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: lightcoral;
    padding: 5px;
    cursor: pointer;
}
.red-btn:hover{
    color: #fff;
    background: lightcoral;
}



/*---- footer ----*/

.footer{
    width: 100%;
    text-align: center;
    padding: 10px 0;    
}

.icons .fab{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 5px 0;
}

.fa-heart{
    color: #f44336;
}
    
